<div class="container py-5">
  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">編輯支出
            <i class="fas fa-edit"></i></h5>
          <hr />
          <form method="POST" action="/records/{{userRecord._id}}?_method=PUT">
            <div class="row mb-3 g-2">
              <label for="name" class="col-md-4 col-form-label">
                名稱*
              </label>
              <div class="col-md-8">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  value="{{userRecord.name}}"
                  required
                />
              </div>
            </div>
            <div class="row mb-3 g-2">
              <label for="name_en" class="col-md-4 col-form-label">
                日期*
              </label>
              <div class="col-md-8">
                <input
                  type="date"
                  name="date"
                  class="form-control"
                  id="date"
                  value="{{userRecord.date}}"
                  required
                />
              </div>
            </div>
            <div class="row mb-3 g-2">
              <label for="category" class="col-md-4 col-form-label">
                類別*
              </label>
              <div class="col-md-8">
                <select
                  id="category"
                  class="form-control"
                  name="category"
                  {{!-- value="{{userRecord.categoryId}}" --}}
                  required
                >
                  {{#each categories}}
                    <option value="{{this._id}}">{{this.name}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class="row mb-3 g-2">
              <label for="cost" class="col-md-4 col-form-label">
                金額＊
              </label>
              <div class="col-md-8">
                <input
                  type="number"
                  name="amount"
                  class="form-control"
                  id="amount"
                  value="{{userRecord.amount}}"
                  required
                />
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-success" type="submit">儲存</button>
              <a href="/">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                >返回</button>
              </a>
              {{! 使用type="reset" 可以清除/還原輸入 }}
              <button type="reset" class="btn btn-outline-danger">還原</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>