<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>私人記帳本</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <style>
      .list-group-item:nth-child(odd) { background-color: #f8f9fa; }
      .record-info { display: flex; align-items: center; } .record-date {
      margin-left: 10px; font-size: 0.9rem; color: #6c757d; } .amount {
      font-size: 20px; font-weight: bold; margin-left: 20px; margin-right: 20px;
      } .btn-edit-delete { display: inline-flex; align-items: center; }
      .btn-edit, .btn-delete { border: none; color: white; padding: 10px;
      margin: 2px; font-size: 12px; cursor: pointer; } .category-icon {
      margin-right: 10px; } .record-name { margin-right: 10px; } .action-buttons
      { display: flex; align-items: center; } .btn-edit, .btn-delete {
      background-color: transparent; border: none; color: inherit;
      text-decoration: none; cursor: pointer; } .btn-edit, .btn-delete {
      background-color: transparent; border: none; color: inherit;
      text-decoration: none; cursor: pointer; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card mt-5">
        <div class="card-body">
          <div class="form-group">
            <select class="form-control" id="category">
              {{#each categories}}
                <option value="{{this._id}}">{{this.name}}</option>
              {{/each}}
            </select>
          </div>
          <h2 class="text-center mb-4">總金額：{{totalAmount}}</h2>
          <ul class="list-group">
            {{#each records}}
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <div class="record-info">
                  <i class="fas {{this.categoryId.icon}} category-icon"></i>
                  <span class="record-name" style="font-size: 22px;">{{this.name}}</span>
                  <span class="record-date">{{this.date}}</span>
                </div>
                <div class="d-flex align-items-center action-group">
                  <span class="badge badge-primary badge-pill amount">
                    $
                    {{this.amount}}
                  </span>
                  <div class="btn-edit-delete">
                    <a
                      class="btn btn-success btn-edit d-flex justify-content-end flex-wrap"
                      href="/records/{{this._id}}/edit"
                    >
                      修改
                    </a>
                    <form
                      class="btn-delete"
                      action="/records/{{this._id}}?_method=DELETE"
                      method="POST"
                      style="display: inline;"
                    >
                      {{! 刪除 }}
                      <button type="submit" class="btn-delete btn btn-danger">
                        刪除
                      </button>
                    </form>
                  </div>
                </div>
              </li>
            {{/each}}
          </ul>
          <div class="text-center mt-3">
            <a class="btn btn-primary" href="/records/new">新增支出</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
  ></script>
</html>